In [13]:
import yfinance as yf
import pandas as pd

In [14]:
sy='GOOGL'
ticker_google=yf.Ticker(sy)

In [17]:
Histrocial_price=ticker_google.history(period='1d',start="2009-1-1",end="2023-1-1")

In [18]:
Histrocial_price.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2009-01-02 00:00:00-05:00,7.722723,8.053554,7.645145,8.041041,144275580,0.0,0.0
2009-01-05 00:00:00-05:00,8.033033,8.289289,7.882883,8.209459,195364440,0.0,0.0
2009-01-06 00:00:00-05:00,8.332833,8.528529,8.167918,8.359860,256750992,0.0,0.0
2009-01-07 00:00:00-05:00,8.216216,8.281031,7.976727,8.058308,179600220,0.0,0.0
2009-01-08 00:00:00-05:00,7.964965,8.137888,7.941441,8.137888,143883972,0.0,0.0

In [20]:
Histrocial_price.shape

(3524, 7)

In [21]:

import datetime as dt
from datetime import date, timedelta

today = date.today()
d1 = today.strftime("%Y-%m-%d")
d1
d2 = (today - timedelta(days=365)).strftime("%Y-%m-%d")
d2
start_date = d2
end_date = d1

# define ticker symbol
tickerSymbol = 'META'

# get data on this ticker
tickerData = yf.Ticker(tickerSymbol)
# tickerData.info

# get the historical prices for this ticker
tickerDf = tickerData.history(period='1d', start=start_date, end=end_date)
tickerDf.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-02-17 00:00:00-05:00,170.220001,173.179993,169.699997,172.880005,24171300,0.0,0.0
2023-02-21 00:00:00-05:00,174.309998,178.169998,171.880005,172.080002,34592600,0.0,0.0
2023-02-22 00:00:00-05:00,171.070007,172.759995,169.690002,171.119995,22433200,0.0,0.0
2023-02-23 00:00:00-05:00,172.000000,173.690002,169.380005,172.039993,20017800,0.0,0.0
2023-02-24 00:00:00-05:00,168.639999,170.720001,167.660004,170.389999,19791300,0.0,0.0