In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.metrics import classification_report,mean_squared_error,r2_score,confusion_matrix

In [14]:
Tips=sns.load_dataset("tips")
Tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [15]:
for coll in Tips.columns:
    if Tips[coll].dtype=="object" or Tips[coll].dtype=="category":
        Tips[coll]=LabelEncoder().fit_transform(Tips[coll])

Tips.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [17]:
X=Tips.drop("sex",axis=1)
Y=Tips["sex"]

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,random_state=42,test_size=0.20)
model=RandomForestClassifier()
model.fit(X_train,Y_train)
per=model.predict(X_test)

# Evaluate the model
print("Classification_report :",classification_report(per,Y_test))
print("confusion_matrix :\n",confusion_matrix(per,Y_test))

Classification_report :               precision    recall  f1-score   support

           0       0.32      0.55      0.40        11
           1       0.83      0.66      0.74        38

    accuracy                           0.63        49
   macro avg       0.57      0.60      0.57        49
weighted avg       0.72      0.63      0.66        49

confusion_matrix :
 [[ 6  5]
 [13 25]]

# RandomForestRegressor